/* login page */
#loginpage {
    height: 100%;
    background: linear-gradient(90deg, #1e90ff 50%, #ffffff 50%);
}

#text {
    color: #ffff;
}

#question {
    margin-left: 5px;
}
/* ////////////////// */

/* profile page */
#profilepage {
    height: 100%;
    background-color:#e6ecf0;
}

.navbar-custom {
    background-color: #ffffff;
}

#tweet {
    margin-left: 5px;
}

#happening {
    width: 495px;
}

/* sign up page */
#signuppage {
    height: 100%;
    /* background-color:#e6ecf0; */
}

.jumbotron {
    height: 140px;
}